
  @import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Great+Vibes&display=swap');
.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: black;
}
.center-header{
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-around;

}
.logo{
  width: calc(60px + 5vw);
}
.link{
  text-decoration: dotted;
  color: white;
}
.jumbotron{
  margin: 0;
  width: 100%;
  height: calc(0.6 * 100vw);
  background-image: url('./images/jumbotron.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nosotros{
  width: 80%;
  height: 80%;
  font-family: 'Great Vibes', cursive;
  border-radius: 4rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  background-color: rgba(240,238,237, 0.6);
}
.nosotros h1, h2, h3{
  margin: 0;
  padding: 0.5rem;
}
.etiquetas{
  font-weight: 500;
  font-size: 2rem;
}
.menu{
  margin: 2rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
  background-color: rgba(240,238,237, 1);
  border-radius: 2rem;
}
#menu{
  width: 50%;
  font-family: 'Great Vibes', cursive;
  font-size: 1.7rem;
}

/* Responsive tablets */
@media screen and (min-width:768px) and (max-width:1023px) {
	
	
}
/* Responsive móviles */
@media screen and (max-width:767px){
  .App-header {
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 2vmin);
    color: white;
    background-color: black;
  }
  .center-header{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-around;
  
  }
  .logo{
    width: calc(60px + 5vw);
  }
  .link{
    text-decoration: dotted;
    color: white;
  }
  .jumbotron{
    margin: 0;
    width: 100%;
    height: auto;
    background-image: url('./images/jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .nosotros{
    margin: 3rem 0;
    width: 80%;
    height:auto;
    font-family: 'Great Vibes', cursive;
    border-radius: 4rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    background-color: rgba(240,238,237, 0.6);
  }
  .nosotros h1, h2, h3{
    margin: 0;
    padding: 0.5rem;
  }
  .menu{
    margin: 2rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    background-color: rgba(240,238,237, 0.8);
    border-radius: 2rem;
    font-weight: 500;
  }
  .menu h1{
    padding: 1rem;
  }
  #menu{
    width: 50%;
    font-family: 'Great Vibes', cursive;
    font-size: 1rem;
    font-weight: 400;
  }
}

